.tweet {
    color: black;
    margin: 30px;
}

/* .fa-ellipsis-h {
    margin-left: 350px;
    cursor: pointer;
    
}

.fa-ellipsis-h:hover {    
    padding: 10px;
    background: #E8F5FD;
    border-radius: 50%;
} */

/* .tweet_action {
    display: grid;
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px #dadce0;
    width: 40px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 280px;
    
    
    
    
}


.fa-pencil {
    margin-top: 10px;
     
}

.fa-times {
    margin-top: 0;
} */



